<!DOCTYPE html>
<html ng-app="agendaApp">
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/app.css">
 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script src="Scripts/controller.js"></script>
<script src="Scripts/services.js"></script>
</head>
<body>1111
<div ng-app="" ng-controller="customersController"> 
1
<table>2
  <tr ng-repeat="x in names">3
    <td>{{ x.email == null }}</td>4
    <td>{{ x.password }}</td>5
</table>
6
</div>

<script>
    app.run(function ($http) {
        //delete $httpProvider.defaults.headers.common['X-Requested-With'];
    });

    function customersController($scope, $http) {        
        $http.get("http://localhost:8086/api/Users").
        error(function (data, status, headers, config) { alert(data.toString() + status.toString()); })
  .success(function (response) { alert(1); $scope.names = response; });
    }
</script>
7
<p>{{"hello" + " you"}}</p>
<ol  ng-controller="EventListCtrl">
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ol>
  1111
  <ul  ng-controller="EventListCtrl">
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
</body>
</html>